[package]
name = "{{ name }}"
version = "0.1.0"
edition = "2024"

[dependencies]
actix = "0.13"
anyhow = "1"
cerne = { version = "{{ cerne_version }}" }
serde = { version = "1", features = ["derive"] }
