[package]
name = "{{ name }}"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
cerne = { git = "https://github.com/ecdesa-labs/cerne" }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
