{% for line in uses %}
{{ line }}
{% endfor %}
use crate::domain::value_objects::{{ file }}_id::{{ name }}Id;
use cerne::domain::{ {% if aggregate %}aggregate{% else %}entity{% endif %}, EnforcementResult, Invariants, Validate};

{% for field in fields|selectattr("variants") %}
{{ field.section }}

{% if field.initial %}
#[derive(Debug, Clone, Copy, Default, PartialEq)]
{% else %}
#[derive(Debug, Clone, Copy, PartialEq)]
{% endif %}
pub enum {{ field.ty }} {
{% for variant in field.variants %}
{% if variant == field.initial %}
    #[default]
{% endif %}
    {{ variant }},
{% endfor %}
}

{% endfor %}
{% if aggregate %}
// --- Aggregate ---------------------------------------------------------------

#[aggregate]
{% else %}
// --- Entity ------------------------------------------------------------------

#[entity]
{% endif %}
#[derive(Debug, Clone, PartialEq)]
pub struct {{ name }} {
    pub id: Option<{{ name }}Id>,
{% for field in fields %}
{% if field.initial %}
    #[skip_constructor]
{% endif %}
    pub {{ field.name }}: {{ field.ty }},
{% endfor %}
}

// --- Invariants --------------------------------------------------------------

impl Validate for {{ name }} {
    fn validate(self) -> EnforcementResult<Self> {
        Invariants::enforce([])?;

        Ok(self)
    }
}
{% if aggregate %}

// --- State transitions -------------------------------------------------------

impl {{ name }} {}
{% endif %}
