use crate::ports::Ports;
use cerne::domain::{DomainEvent, EnforcementResult, FiredPolicy, Policies};

pub struct {{ name }} {
{% for field in fields %}
    pub {{ field.name }}: {{ field.ty }},
{% endfor %}
}

impl DomainEvent<Ports> for {{ name }} {
    fn trigger_policies(&self) -> EnforcementResult<Vec<FiredPolicy<Ports>>> {
        // --- Policies --------------------------------------------------------

        Ok(Policies::new(vec![]).trigger())
    }
}
