{% for line in uses %}
{{ line }}
{% endfor %}
use crate::composition_root::CompositionRoot;
use cerne::domain::{DomainEvent, EnforcementResult, FiredPolicy, Policies};

pub struct {{ name }} {
{% for field in fields %}
    pub {{ field.name }}: {{ field.ty }},
{% endfor %}
}

impl DomainEvent<CompositionRoot> for {{ name }} {
    fn trigger_policies(&self) -> EnforcementResult<Vec<FiredPolicy<CompositionRoot>>> {
        // --- Policies --------------------------------------------------------

        Ok(Policies::trigger([]))
    }
}
