{% for line in uses %}
{{ line }}
{% endfor %}
use crate::application::read_models::{{ file }}::{{ name }};
use crate::composition_root::CompositionRoot;
use cerne::application::Query;
use cerne::{Error, async_trait};

pub struct {{ name }}Query {
{% for field in fields %}
    pub {{ field.name }}: {{ field.ty }},
{% endfor %}
}

#[async_trait]
impl Query<CompositionRoot> for {{ name }}Query {
    type ReadModel = {{ name }};

    async fn execute(&self, _ports: &CompositionRoot) -> Result<{{ name }}, Error> {
        // --- Ports -----------------------------------------------------------

        // --- Read model ------------------------------------------------------

        todo!("read the ports and build the {{ name }} read model")
    }
}
